<section>
  <div class='most-voted'>
    <% if Vote.popular == [] %>
      <p>Oops! Looks like there's isn't any popular articles</p>
    <% else %>
    <div class='most-voted-title'>
      <%= link_to Vote.popular.first.article.title, article_path(Vote.popular.first.article) %>
    </div>
      <p class='most-voted-body'> <%= link_to Vote.popular.first.article.body %></p>
      <% if Vote.popular.first.article.image.attached? %>
        <p class='most-voted-image'> <%= link_to Vote.popular.first.article.image, class: 'voted-image'%></p>
      <% end %>
    <% end %> 
  </div>
  
  <div class='category-grid'>
    <% @category.each do |category|%>
    <div class='category-div'>
      <% if category.articles.any? %>
        <p class='c-newest-image'><%= image_tag category.articles.most_recent.first.image, class: 'cnewestimage' if category.articles.most_recent.first.image.attached? %></p>
        <br>
        <p class='c-name'><%= link_to category.name, category_path(category) %></p>
        <div class='c-newest-title'>
          <%= link_to category.articles.most_recent.first.title,  article_path(category.articles.most_recent.first) %>
        </div>
      <% else %>
        <p class='c-name'><%= link_to category.name,  category_path(category) %></p>
        <p class='oops'>Oops! Looks like there's no articles</p>
      <% end %>
    </div>
        
    <% end %>
  </div>
</section>

