<section class='category-display'>
  <% category_with_articles = @category.articles.most_recent.includes(:category) %>
  <% category_with_articles.each do |article| %>
    <div class='c-article-wrapper'>
      <div class='article-bg'>
        <% if article.image.attached? %>
          <%=image_tag article.image, class: 'article-bg-image'  %>
        <% end %>
      </div>
      <div class="article-description">
        <p class='name_category'><%= @category.name %></p>
        <br>
        <p class="category_article_title"><%= link_to article.title, article_path(article) %></p>
        <p>Written by article.user.name</p>
        <br>
        <p><%= article.body%></p>
      </div>
      <div>
        <p class="category_article_vote"><%= article.votes.count %> votes.</p>
        <p class="category_article_vote"><%= vote-btn(article)%></p>
      </div>
    </div>
  <% end %>
</section>