<!DOCTYPE html>
<html>
  <head>
    <title>Musify</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>
    <body>
      <% if user_signed_in? %>
        <header class= "d-flex flex-row bg-light navbar-light justify-content-between">
          
            <div>

            </div>

            <nav class= "navbar navbar-expand-lg">
              <ul class= "navbar-nav">
                <li class = "nav-link"> <%= link_to "Home" %></li>
                <li class = "nav-link"> <%= link_to "Grime"%></li>
                <li class = "nav-link"> <%= link_to "Trap"%></li>
                <li class = "nav-link"> <%= link_to "House"%></li>
                <li class = "nav-link"> <%= link_to "Afro"%></li>
                <li class = "nav-link"> <%= link_to "Create Article"%></li>
              </ul>
            </nav>

            <div>
              <% if !user_signed_in? %>
                <span><%= link_to "Login", new_user_session_path %><span> |
                <span><%= link_to "Register", new_user_registration_path%><span>
              <% else %>
                <p><%= link_to "Log Out", destroy_user_session_path, method: :delete %></p>
              <% end %>
            </div>
          
        </header>
      <% end %>
      <%= yield %>
    </body>
</html>


