<!DOCTYPE html>
<html>
  <head>
    <title>Musify</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <%
=begin%>
 <header class= "d-flex flex-row bg-success justify-content-between py-4">
        <div>

        </div>

        <div>
          <ul>
            <li> <%= link_to "Home", root_path %></li>
            <li> <%= link_to "Grime"%></li>
            <li> <%= link_to "Trap"%></li>
            <li> <%= link_to "House"%></li>
            <li> <%= link_to "Afro"%></li>
          </ul>
        </div>

        <div>
          
        </div>

      </nav>
    </header> 
<%
=end%>
    <%= yield %>
  </body>
</html>


